<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="Suite1"  thread-count="14" verbose="10" >

    <test name="Regression" >

        <groups>
            <run>
                <include name="testInclude"></include>
                <include name="testIncludeTWO"></include>
                <include name="testExclude"></include>
            </run>
        </groups>

        <classes>

            <class name="testcases.ValidDrpDwnCntntTest">
                <methods>
                    <exclude name="list"></exclude>
                </methods>
            </class>

            <class name="testcases.Automation_Selenium" />

            <class name="testcases.ErrorMessValidTest" />
            <class name="testcases.TabsAndScrollTest" />

        </classes>
    </test>

    <test name="Smoke">
        <classes>
            <class name="testcases.Automation_Selenium"/>
        </classes>
    </test>
</suite>


